.List {
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
    margin: 0 auto 10px;
}

@media (min-width: 600px) {
    .List {
        width: 500px;
        left: calc(50% - 250px);
    }
}